<div id="main">
    <!-- Sidebar -->
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">x</a>
        <a href="/">Home</a>
        <a href="/about">About</a>
    </div>
    <!-- Page content-->
    <div class="page-content-container">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776</span>
                 
                    
                </div>
            </div>
        </div>
    </div>
</div>